.row{
    display: flex;
}

body{
    display: flex;
    justify-content: center;
}

.box{
    height: 80px;
    width: 80px;
    border: solid 2px black;
    text-align: center;
    line-height: 80px; /* Make the line height equal to the height of the square */
    font-size: 60px;
}

.show{
    background-color: blanchedalmond;
}

/* div[position='threatning'] { 
    background-color: blue; 
  }  */